.wrapper{
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-between;
  width: auto;
  max-width: 1024px;
  margin:auto;
  align-items: stretch;

}

.content-wrapper{
  position:relative;
  z-index: 800;

  /*-webkit-transition: transform 0.35s ease;
  transition: transform 0.35s ease;
  -webkit-transform: translateZ(-102%);
  transform: translateX(-102%);*/
}

#sideBar-open {
  position: -webkit-fixed;
  position: fixed;
  right:5px;
  bottom:5px;
  size: 10%;

  background: #ffffff;
  z-index: 9999;
}

.sideBar {
  position: fixed;
  top:0;
  right:0;
  bottom:0;

  background-color: #000;
  opacity: 0.92;
  color: #fff;

  margin: 0;
  outline:0;
  width:400px;
  z-index: 9999;


  -webkit-transition: transform 0.35s ease;
  transition: transform 0.35s ease;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transform-origin: right top;
}


.sideBar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  max-height: 80px;
  padding:0 2em;
}

.sideBar h3 {
  display:inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0;
  letter-spacing: 1px;
}

.sideBar .botui-app-container {
  height: 82vh;
  overflow-y: scroll;
  background-color: #212121;
}


.sideBar .botui-messages-container {
  padding: 1em 1em;
}

.sideBar .botui-message-content {
  min-width: 40%;
  max-width: 90%;
  background-color: #ffffff;
}

.sideBar .msg-input {
  position: relative;
  height: auto;
  width: 100%;
  overflow: auto;
  background:rgba(0, 0, 0, 0.8);
}

.sideBar[aria-hidden="true"]{
  display: block;
}

.sideBar[aria-hidden="false"] {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}


@media (min-width: 769px) {
  .container {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
  }

  .sideBar {
    bottom: 0;
  }

  .sideBar h3{
    padding: 1em 1.5em;
  }
  .sideBar .botui-message-content {
    padding: 1em 1em;
  }
  .sideBar .botui-app-container {
    max-height: 85%;
    height:auto;
  }
  .sideBar .botui-container {
    padding: 1em;
    min-height: 70%;
    height: 850px;
  }
  #sideBar-open {
    bottom: 2em;
    right: 2em;
    width:auto;
    height:auto;
  }

  button#enterMsg {
   margin:14px 11px;
   width:auto;
   height:auto;
   border-radius:4px;
   font-size:16px;
   letter-spacing: 2px;
  }
}

input#typingMsg {
  position:absolute;
  font-size:16px;
  color:#fff;
  width: 80%;
  padding: 1em 0.5em;
  border:0;
  border-bottom: 1px solid;
  border-bottom-color: #fff;
  background:rgba(0, 0, 0, 0.8);
}

#enterMsg {
  display: inline-block;
  position:relative;
  z-index: 999;
  font-weight: 800;
  margin: 15px 5px;
  width: 15%;
  height: auto;
  border-radius: 2px;
  font-size: 14px;
  float: right;
  color:white;
  background-color: #327AD7;
}
