.wrapper{
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
}

.content-wrapper{
  position:relative;
  z-index: 800;

  /*-webkit-transition: transform 0.35s ease;
  transition: transform 0.35s ease;
  -webkit-transform: translateZ(-102%);
  transform: translateX(-102%);*/
}

#sideBar-open {
  position: -webkit-fixed;
  position: fixed;
  bottom: 2em;
  right: 2em;
  width:auto;
  height:auto;
  background: #ffffff;
  z-index: 9999;
}

.sideBar {
  position: fixed;
  top:0;
  right:0;

  background-color: #000;
  opacity: 0.92;
  color: #fff;

  margin: 0;
  outline:0;
  width:400px;
  min-height: 100%;
  z-index: 810;


  -webkit-transition: transform 0.35s ease;
  transition: transform 0.35s ease;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transform-origin: right top;
}


.sideBar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 80px;
  padding:0 2em;
}
.sideBar .header h3 {
  display:inline-block;
  padding: 1em 1.5em;
  margin: 0;
}
.sideBar .botui-container {
  padding: 1em;
  min-height: 70%;
  height: 850px;
  overflow-y: auto;
  background-color: #212121;
}

.sideBar .botui-messages-container {
  padding: 1em 1em;
}

.sideBar .botui-message-content {
  min-width: 40%;
  max-width: 90%;
  background-color: #ffffff;
}

.sideBar .msg-input {
  height:80px;
}

.sideBar[aria-hidden="true"]{
  display: block;
}

.sideBar[aria-hidden="false"] {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media (min-width: 769px) {
  .container {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
  }
  .sideBar .botui-message-content {
    padding: 1em 2em;
  }
}

input#typingMsg {
  position:relative;
  font-size:16px;
  color:#fff;
  width: 95%;
  padding: 1em 0.5em;
  background:rgba(0, 0, 0, 0.8);
  border:0;
  border-bottom: 1px solid;
  border-bottom-color: #fff;
}

button#enterMsg {
  position:relative;
  width:73px;
  height:35px;
  border-radius:4px;
  background-color: #327AD7;
  color: #fff;
  font-weight: 800;
  font-size:14px;
  margin:14px 11px;
}
